<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>
    <img class="open-btn custom-image" src="/img/icons8-show-sidepanel-50.png" alt="Sidebar by Icons8" onclick="toggleSidebar()">

    <div class="sidebar" id="sidebar">
        <ul>
            <button pag="cadastrar" class="botao navegacao" onclick="btnNav(this)">Cadastrar</button>
            <button pag="contas" class="botao navegacao" onclick="btnNav(this)">Contas</button>
            <button pag="parcelas" class="botao navegacao" onclick="btnNav(this)">Parcelas</button>
            <button pag="relatorios" class="botao navegacao" onclick="btnNav(this)">Relatórios</button>
        </ul>
    </div>
    
    <div class="header">
        
    </div>
    <div class="content" id="content">
        <h1>Test1</h1>
        <button class="botao">AA</button>
        
    </div>

</body>
</html>