<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test1</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js"></script>
</head>
<body>
    <img class="open-btn custom-image" src="/img/icons8-show-sidepanel-50.png" alt="Sidebar by Icons8" onclick="toggleSidebar()">

    <div class="sidebar" id="sidebar">
        <ul>
            <br>
            <br>
            <button class="botao navegacao" onclick="btnNav(this)">test</button>
            <button class="botao navegacao" onclick="btnNav(this)">test2</button>
        </ul>
    </div>
    
    <div class="header">
        <br>
    </div>
    <h1>Test1</h1>
    <button class="botao">AA</button>
</body>
</html>